@import "compass"
@import "blueprint"

@import "partials/fonts"
@import "partials/photos"
@import "partials/rbmu"

$font-color:         #2a2a2a
$link-color:         #293D64
$link-hover-color:   #009ce0
$link-focus-color:   $link-color
$link-active-color:  $link-color
$link-visited-color: $link-color

$blueprint-font-family:  'JustTheWayYouAreRegular'
$blueprint-font-size:    16px

+global-reset

+blueprint-typography

body
  background: url(/images/arches.png)
  +single-text-shadow(#eee, -1px, -1px, 0)

a
  +link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)
  text-decoration: none

p
  line-height: 2
  font-size: 1.25em

#wrap
  padding: 50px
  text-align: center

hr
  width: 700px
  background: #ccc
  color: #ccc
  height: 1px
  border: 0

a.back
  display: block
  color: #555
  &:hover
    color: $link-hover-color

// These selection declarations have to be separate
// No text-shadow: twitter.com/miketaylr/status/12228805301
// https://github.com/paulirish/html5-boilerplate/blob/master/css/style.css

=selection
  background: #009ce0
  color: #fff
  text-shadow: none
::-moz-selection
  +selection
::selection
  +selection

//  Always force a scrollbar in non-IE
// Remove iOS text size adjust without disabling user zoom:
//www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/

html
  overflow-y: scroll
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%