- content_for :head do
  %title Jordan Byron

  / Thanks for viewing the source. You can get the real stuff over on github: https://github.com/jordanbyron/jordanbyron.com
- content_for(:body_class) { 'landing' }

#wrap
  %h1
    Hi! I'm Jordan Byron

  %p

    See what I am up to by visiting my
    #{link_to "/now", "/now"} page or
    %br
    check out my projects on
    #{link_to "github", "http://github.com/jordanbyron"},
    my thoughts on #{link_to "twitter", "http://twitter.com/jordan_byron"},
    and my writing on #{link_to "tumblr", "http://blog.jordanbyron.com"}
