- content_for :head do
  %title Jordan Byron
  
  :javascript
    $(function() { JB.Slideshow.start(); });
  
  / Thanks for viewing the source. You can get the real stuff over on github: https://github.com/jordanbyron/jordanbyron.com

%h1 Hi! I'm Jordan Byron. This is my website.

#photos
  - 6.times do |n|
    %img{:src=>"/images/photos/#{n + 1}.jpg", :class => ('top' if n == 0)}

%h2 So ... who am I?

%p
  I'm a founder of 
  %a{:href => "http://university.rubymendicant.com"} Ruby Mendicant University

  %br
  I work for 
  %a{:href => "http://madriska.com/"} Madriska Media Group
  
  %br
  I also like to 
  %a{:href => "http://www.newhaven.edu/36297/"} play my trumpet
  and practice yoga

%h2 Where can you learn more?

%p
  %a{:href => "http://github.com/jordanbyron"} github
  %br
  %a{:href => "http://twitter.com/jordan_byron"} twitter
  %br
  :javascript
    document.write('<a href="mailto:jordan.byron@' + 'gmail.com">email</a>');
  