- content_for :head do
  %title Jordan Byron

  :javascript
    $(function() { JB.Slideshow.init(); });

  / Thanks for viewing the source. You can get the real stuff over on github: https://github.com/jordanbyron/jordanbyron.com

%h1 Hi! I'm Jordan Byron.

#photos
  - 7.times do |n|
    %img.photo{:src=>"/images/photos/#{n + 1}.jpg", :class => ('top' if n == 0)}
  .controls
    %img#previous.control{:src=>"/images/controls/previous.png"}
    #play-pause.control
    %img#next.control{:src=>"/images/controls/next.png"}

%p.main

  I work for
  %a{:href => "http://madriska.com/"} Madriska Media Group

  %br
  I'm a co-founder of
  %a{:href => "http://mendicantuniversity.org"} Mendicant University
  and the
  %a{:href => "http://www.newhaven.edu/36297/"} Chargers Marching Band

  %br
  I play the trumpet and enjoy hiking, yoga, and mountain biking

%h2 Where can you learn more?

%p
  %a{:href => "http://github.com/jordanbyron"} github
  &bull;
  %a{:href => "http://twitter.com/jordan_byron"} twitter
  &bull;
  :javascript
    document.write('<a href="mailto:jordan.byron@' + 'gmail.com">email</a>');
