- content_for :head do
  %title Jordan Byron

%h1 Hi! I'm Jordan Byron. This is my website.

%h2 So ... who are you?

%p
  I'm a founder of 
  %a{:href => "http://university.rubymendicant.com"} Ruby Mendicant University

  %br
  I work for 
  %a{:href => "http://madriska.com/"} Madriska Media Group
  
  %br
  I also like to 
  %a{:href => "http://www.newhaven.edu/36297/"} play my trumpet
  and practice yoga

%h2 Where can I learn more?

%a{:href => "http://github.com/jordanbyron"} github
%br
%a{:href => "http://twitter.com/jordan_byron"} twitter
%br
:javascript
  document.write('<a href="mailto:jordan.byron@' + 'gmail.com">email</a>');
  