- content_for :head do
  %title RbMU | Jordan Byron
  
%h1 
  %span.red> Rb
  MU
  
#articles
  .article
    %a.title{:href=>"http://blog.rubybestpractices.com/posts/gregory/025-ruby-mendicant-university.html"}
      IDEA: Ruby Mendicant University
    .description
      The article that started it all.
  .article
    %a.title{:href=>"http://blog.rubybestpractices.com/posts/gregory/027-ruby-mendicant-university-update.html"}
      The Ruby Mendicant University Core Skills Course
    .description
      First public update on RbMU
  .article
    %a.title{:href=>"http://blog.majesticseacreature.com/mendicant-university-stories"}
      Mendicant University Stories: Genesis
    .description
      Greg writes about the motivations behind starting RbMU
  .article
    %a.title{:href=>"http://blog.majesticseacreature.com/mendicant-university-stories-paying-it-forwar"}
      Mendicant University Stories: Paying it forward
    .description
      In this second installment, Greg writes about his failed efforts to teach
  .article
    %a.title{:href=>"http://blog.majesticseacreature.com/mendicant-university-stories-most-educators-a"}
      Mendicant University Stories: Most educators aren't teachers
    .description
      Greg recalls his educational experiences
  .article
    %a.title{:href=>"http://blog.rubybestpractices.com/posts/gregory/042-mendicant-supporters.html"}
      Supporting the Ruby Mendicant experiment
    .description
      A new way to help fund RbMU
      
  %hr
  
  .article
    %a.title{:href=>"http://university.rubymendicant.com"}
      Ruby Mendicant University
    .description
      The official public site of RbMU